<div class="file-downloader">
  <div class="table-header-container">
    <label class="selection-text table-header-item">
      <Input
        class="input select-all"
        @type="checkbox"
        @checked={{this.isSelectAllChecked}}
        indeterminate={{this.isSelectAllIndeterminate}}
        {{on "change" this.toggleAll}}
      />
      {{this.selectionText}}
    </label>
    <button
      class="table-header-item download"
      aria-label="Download selected files"
      type="button"
      {{on "click" this.download}}
    >
      ↓ Download Selected
    </button>
  </div>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Device</th>
      <th>Path</th>
      <th class="status">Status</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.files as |file index|}}
      <tr class="{{if file.selected 'selected-row' ''}}">
        <td>
          <Input
            class="input"
            aria-label="Select file"
            @type="checkbox"
            @checked={{file.selected}}
            {{on "change" (fn this.toggleRowByIndex index)}}
          />
        </td>
        <td>{{file.name}}</td>
        <td>{{file.device}}</td>
        <td>{{file.path}}</td>
        <td class="status {{file.status}}">{{file.status}}</td>
      </tr>  
    {{/each}}
    </tbody>
  </table>
</div>
